.section {
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;

  margin: 10px 0;
}

.section-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 40px;
  text-transform: inherit;
  color: #000000;
  text-align: center;
}

.offer-item-container {
  min-height: 100px;
  // padding: 8px;
  width: 100%;
  background: #ffffff;
  // border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
}

.offer-item-image {
  width: 20%;
  position: relative;

  & .brand-logo-wrapper {
    position: absolute;
    // right: 16px;
    // top: 16px;
    top: 2%;
    right: 5%;
    width: 25%;
    // height: 5%;
    margin: 0;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.offer-item-release-name {
  width: 40%;
}

.offer-item-group-elements {
  width: 20%;
}

.offer-brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.brand-image {
  margin-bottom: 3px;
  max-width: 80px;
  height: auto;
  background-position: center;
}

.main-image {
  height: auto;
  max-width: 100%;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 8px;
}

.brand-name {
  font-weight: 600;

  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.offer-status {
  font-size: 18px;
  // line-height: 12px;
  min-width: 60px;
}

.offer-name {
  margin: 6px 0 8px 0;
}

.offer-name a {
  font-size: 12px;
  text-align: center;
  color: #888383;

  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}

.offer-name:hover {
  cursor: pointer;
}

.offer-sku {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.1em;

  color: #606060;
}

.offer-price {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}

.offer-old-price {
  color: #c45a1a;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: line-through;
}

.offer-region {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #606060;
}

.link-button {
  background: #000000;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #ffffff;
  padding: 8px 20px;
}

.link-button a {
  color: #ffffff;

  &.link {
    display: block;
    width: 100%;
    padding: 8px 20px;
  }
}

.offer-promotion-code {
  font-size: 0.7em;
  color: #ed7209;
  font-weight: 600;
  line-height: 14px;
}

// Override css in theme
p {
  margin: 0;
}

.dropdown-toggle::after {
  display: none !important;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

@media (max-width: 991px) {
  .offer-item-group-elements {
    width: 20%;
  }

  .offer-item-release-name {
    width: 35%;
  }

  .offer-item-image {
    width: 20%;
  }

  .offer-brand-container {
    width: 20%;
  }

  .width-40 {
    width: auto;
  }

  .width-30 {
    width: auto;
  }
}

@media (max-width: 480px) {
  .width-40 {
    width: auto;
  }

  .width-30 {
    width: auto;
  }

  .brand-image {
    width: 45px;
    height: auto;
  }

  .main-image {
    height: auto;
    width: 100%;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .offer-item-image {
    width: 45%;
  }

  .link-button {
    padding: 3px 2px;
  }

  .offer-item-image {
    width: 40%;
    position: relative;

    & .brand-logo-wrapper {
      right: 10px;
      top: 2px;
    }
  }
}
