<div
        [infiniteScrollDistance]="3"
        class="d-flex flex-column h-100"
        infiniteScroll>
    <app-navbar></app-navbar>
    <app-ms-breadcrumb [breadcrumb]="[{ name: 'Releases' }]"></app-ms-breadcrumb>

    <app-heading
            *ngIf="layout && layout.heading && layout.heading.displayOnPage"
            [description]="
      category ? category?.description : layout.heading.description
    "
            [imgUrl]="
      category
        ? category?.imgUrl
        : layout.heading.imgUrl
        ? layout.heading.imgUrl
        : 'assets/images/headers/header-brands.png'
    "
            [title]="category ? category?.name : layout.heading.title"></app-heading>

    <app-header
            *ngIf="
      layout &&
      layout.header &&
      layout.header.displayOnPage &&
      layout.header.display == 'top'
    "
            [imageSrc]="
      layout.header.imgUrl
        ? layout.header.imgUrl
        : 'assets/images/headers/header-brands.png'
    "
            [label]="layout.header.label"
            [link]="layout.header.link"></app-header>

    <div *ngIf="layout?.deals?.displayOnPage" class="row">
        <div
                *ngFor="let item of layout?.deals?.deals"
                class="col-lg-6 col-md-6 col-sm-12 my-3">
            <app-discount-offer-item [item]="item"></app-discount-offer-item>
        </div>
    </div>

    <div class="mt-4">
        <!-- Display if home page has configuration to display slider in bottom -->
        <app-carousel
                *ngIf="
        layout && layout.slider.displayOnPage && layout.slider.display == 'top'
      "
                [slides]="layout.slider.slides"></app-carousel>
        <!-- Display if home page has configuration to display hottest releases in bottom -->
        <app-hottest-releases
                *ngIf="
        layout &&
        layout.hottest.displayOnPage &&
        layout.hottest.display == 'top'
      "
                [releases]="hottestReleases$ | async"></app-hottest-releases>
    </div>
    <div class="search-text">Search: <span>{{ searchTerm }}</span></div>
    <div class="my-5">
        <app-releases-search-pagination
                (changeFilters)="changeFilters($event)"
                (changeSortOption)="changeSort($event)"
                [releasesCount]="pageSize"
                [releases]="releases$ | async"
                [totalPages]="totalPages"
                [totalReleases]="totalReleases$ | async"></app-releases-search-pagination>
    </div>
    <div class="mt-4">
        <!-- Display if home page has configuration to display slider in bottom -->
        <app-carousel
                *ngIf="
        layout &&
        layout.slider.displayOnPage &&
        layout.slider.display == 'bottom'
      "
                [slides]="layout.slider.slides"></app-carousel>
        <!-- Display if home page has configuration to display hottest releases in bottom -->
        <app-hottest-releases
                *ngIf="
        layout &&
        layout.hottest.displayOnPage &&
        layout.hottest.display == 'bottom'
      "
                [releases]="hottestReleases$ | async"></app-hottest-releases>
    </div>
    <app-header
            *ngIf="
      layout &&
      layout.header &&
      layout.header.displayOnPage &&
      layout.header.display == 'bottom'
    "
            [imageSrc]="
      layout.header.imgUrl
        ? layout.header.imgUrl
        : 'assets/images/headers/header-brands.png'
    "
            [label]="layout.header.label"
            [link]="layout.header.link"></app-header>
    <app-footer></app-footer>
</div>
