<app-breadcrumb [breadcrumb]="'Compare'" [title]="'Compare'"></app-breadcrumb>
<!-- section start -->
<section class="compare-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="compare-page">
          <div
            *ngIf="!products.length"
            class="col-sm-12 empty-cart-cls text-center">
            <img class="img-fluid mb-4" src="assets/images/empty-compare.png" />
            <h3><strong>Compare List is Empty</strong></h3>
            <h4>Explore more shortlist some items.</h4>
          </div>
          <div *ngIf="products.length" class="table-wrapper table-responsive">
            <table class="table">
              <thead>
                <tr class="th-compare">
                  <td>Action</td>
                  <th *ngFor="let product of products" class="item-row">
                    <button
                      (click)="removeItem(product)"
                      class="remove-compare"
                      type="button">
                      Remove
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody id="table-compare">
                <!-- Product Name -->
                <tr>
                  <th class="product-name">Product Name</th>
                  <td *ngFor="let product of products" class="grid-link__title">
                    {{ product.title | titlecase }}
                  </td>
                </tr>
                <!-- Product Image -->
                <tr>
                  <th class="product-name">Product Image</th>
                  <td *ngFor="let product of products" class="item-row">
                    <img
                      [alt]="product.images[0].alt"
                      [src]="product.images[0].src"
                      [title]="product.images[0].alt"
                      class="featured-image"
                      width="185" />
                    <div class="product-price product_price">
                      <strong>On Sale: </strong
                      ><span>
                        {{
                          (product.price | discount : product) *
                            productService?.Currency.price
                            | currency
                              : productService?.Currency.currency
                              : 'symbol'
                        }}</span
                      >
                    </div>
                    <form class="variants clearfix">
                      <button
                        (click)="addToCart(product)"
                        class="add-to-cart btn btn-solid"
                        title="Add to Cart">
                        Add to Cart
                      </button>
                    </form>
                  </td>
                </tr>
                <!-- Product Description -->
                <tr>
                  <th class="product-name">Product Description</th>
                  <td *ngFor="let product of products" class="item-row">
                    <p class="description-compare">
                      {{ product.description.substring(0, 200) + '...' }}
                    </p>
                  </td>
                </tr>
                <!-- Product Availability -->
                <tr>
                  <th class="product-name">Availability</th>
                  <td *ngFor="let product of products" class="available-stock">
                    <p>{{ product.stock > 0 ? 'In stock' : 'Out of stock' }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
