.blog-details {
  & h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #daab28;
    margin-top: 0;
    padding-top: 25px;
  }

  & a {
    color: #000000;

    & p {
      text-transform: none;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
  }

  min-height: 200px;
  border-radius: 0 0 8px 8px;
}

.img-blog {
  border-radius: 8px 8px 0 0;
  max-height: 232px;
  min-height: 232px;
}
