<!-- modal popup start
<ng-template class="theme-modal" #newsletter let-modal>
    <div class="modal-content">
        <div class="modal-body modal7">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-bg">
                            <button type="button" class="close"  aria-label="Close" (click)="cerrar()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="offer-content"><img src="assets/images/offer-banner-1.png" class="img-fluid" alt="">
                                <h2>newsletter</h2>
                                <form action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" class="auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                    <div class="form-group mx-sm-3">
                                        <input type="text" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email" required="required">
                                        <button type="submit" (click)="submit()" class="btn btn-solid" id="mc-submit">subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
<!--modal popup end-->

<div class="sib-form" style="text-align: center; background-color: ffffff">
    <div class="sib-form-container" id="sib-form-container">
        <div
                class="sib-container--large sib-container--vertical"
                id="sib-container"
                style="
        text-align: center;
        background-color: rgba(255, 255, 255, 0.11);
        max-width: 540px;
        border-radius: 3px;
        border-width: 1px;
        border-color: #c0ccd9;
        border-style: solid;
      ">
            <form
                    action="https://52d94310.sibforms.com/serve/MUIEAFUnDNGMsBjgG8j7FLozfKrxpoyUoGKorHoHHj7ncu-dGLQsiuscX25LtiX3J2Q86L7CP5SNvZKOD9kfnTXniWqo6wyQ81pGGf5hhEcLZb5Q2xfC-prR8HkXA3ynlUNsivEkx0wosl2j4ITRZ8KIxy1rOe6VWM12rCAAXzSfmdQ5bV4bV_pMkGz2JaaOpcWJ88iVRBYORr9X"
                    id="sib-form"
                    method="POST">
                <div style="padding: 8px 0">
                    <div
                            class="sib-form-block"
                            style="
              font-size: 32px;
              text-align: left;
              font-weight: 700;
              font-family: 'Helvetica', sans-serif;
              color: #3c4858;
              background-color: transparent;
            ">
                        <p class="sib-h1">Stay Updated !</p>
                    </div>
                </div>
                <div style="padding: 8px 0">
                    <div class="sib-input sib-form-block">
                        <div class="form__entry entry_block">
                            <div class="form__label-row">
                                <label
                                        class="entry__label"
                                        data-required="*"
                                        for="EMAIL"
                                        style="
                    font-weight: 700;
                    font-size: 16px;
                    text-align: left;
                    font-weight: 700;
                    font-family: 'Helvetica', sans-serif;
                    color: #3c4858;
                  ">
                                    Be the first to know about the new arrivals, latest deals and
                                    more !
                                </label>

                                <div class="entry__field">
                                    <input
                                            autocomplete="off"
                                            class="input"
                                            data-required="true"
                                            id="EMAIL"
                                            name="EMAIL"
                                            placeholder="EMAIL"
                                            required
                                            type="text"/>
                                </div>
                            </div>

                            <label
                                    class="entry__error entry__error--primary"
                                    style="
                  font-size: 16px;
                  text-align: left;
                  font-family: 'Helvetica', sans-serif;
                  color: #661d1d;
                  background-color: #ffeded;
                  border-radius: 3px;
                  border-color: #ff4949;
                ">
                            </label>
                        </div>
                    </div>
                </div>
                <div style="padding: 8px 0">
                    <div class="sib-optin sib-form-block">
                        <div class="form__entry entry_mcq">
                            <div class="form__label-row">
                                <div class="entry__choice">
                                    <label>
                                        <input
                                                class="input_replaced"
                                                id="OPT_IN"
                                                name="OPT_IN"
                                                type="checkbox"
                                                value="1"/>
                                        <span class="checkbox checkbox_tick_positive"></span
                                        ><span
                                            style="
                        font-size: 14px;
                        text-align: left;
                        font-family: 'Helvetica', sans-serif;
                        color: #3c4858;
                        background-color: transparent;
                      "
                                    ><p>
                        I agree to receive communication from Moresneakers and
                        accept the Terms of Use
                      </p></span
                                    >
                                    </label>
                                </div>
                            </div>
                            <label
                                    class="entry__error entry__error--primary"
                                    style="
                  font-size: 16px;
                  text-align: left;
                  font-family: 'Helvetica', sans-serif;
                  color: #661d1d;
                  background-color: #ffeded;
                  border-radius: 3px;
                  border-color: #ff4949;
                ">
                            </label>
                            <label
                                    class="entry__specification"
                                    style="
                  font-size: 12px;
                  text-align: left;
                  font-family: 'Helvetica', sans-serif;
                  color: #8390a4;
                ">
                                You may at anytime unsubscribe from the newsletter by clicking
                                the unsubscribe link at the bottom of the newsletter emails
                            </label>
                        </div>
                    </div>
                </div>
                <div style="padding: 8px 0"></div>
                <div style="padding: 8px 0">
                    <div class="sib-form-block" style="text-align: left">
                        <button
                                class="sib-form-block__button sib-form-block__button-with-loader"
                                form="sib-form"
                                style="font-size: 16px;
                                        text-align: left;
                                        font-weight: 700;
                                        font-family: 'Helvetica', sans-serif;
                                        color: #ffffff;
                                        background-color: #3e4857;
                                        border-radius: 3px;
                                        border-width: 0;"
                                type="submit">
                            <svg
                                    class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon"
                                    viewBox="0 0 512 512">
                                <path
                                        d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"/>
                            </svg>
                            Register
                        </button>
                    </div>
                </div>
                <input
                        class="input--hidden"
                        name="email_address_check"
                        type="text"
                        value=""/>
                <input name="locale" type="hidden" value="fr"/>
                <input name="html_type" type="hidden" value="simple"/>
            </form>
        </div>
    </div>
</div>
