<div class="row blog-media">
  <div class="col-xl-6">
    <div class="blog-left">
      <div class="img-wrapper">
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#e8e8e8',
            height: '165px'
          }"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="blog-right">
      <div class="w-100">
        <h6>
          <ngx-skeleton-loader
            [theme]="{
              'background-color': '#e8e8e8',
              width: '160px',
              'border-radius': '15px',
              height: '12px'
            }">
          </ngx-skeleton-loader>
        </h6>
        <ngx-skeleton-loader
          [theme]="{
            'background-color': '#e8e8e8',
            width: '100%',
            'border-radius': '15px',
            height: '18px'
          }">
        </ngx-skeleton-loader>
        <ul class="post-social">
          <li>
            <ngx-skeleton-loader
              [theme]="{
                'background-color': '#e8e8e8',
                width: '120px',
                'border-radius': '15px',
                height: '12px'
              }">
            </ngx-skeleton-loader>
          </li>
        </ul>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color': '#e8e8e8',
              width: '100%',
              'border-radius': '15px',
              height: '12px'
            }">
          </ngx-skeleton-loader>
          <ngx-skeleton-loader
            [theme]="{
              'background-color': '#e8e8e8',
              width: '80%',
              'border-radius': '15px',
              height: '12px'
            }">
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
