<app-breadcrumb
  [breadcrumb]="'Collection'"
  [title]="'Collection'"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
  <div class="container">
    <div class="row partition-collection">
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/1.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/2.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/3.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/4.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row partition-collection section-t-space">
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/5.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/6.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/7.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="collection-block">
          <img alt="" class="img-fluid" src="assets/images/collection/8.jpg" />
          <div class="collection-content">
            <h4>(20 products)</h4>
            <h3>fashion</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry....
            </p>
            <a [routerLink]="['/home/fashion']" class="btn btn-outline"
              >shop now !</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
