<div class="responsive-product-card mr-3">
    <a *ngIf="product" routerLink="/releases/{{ product.slug }}">

        <div class="wrapper d-flex flex-row flex-md-column py-3 px-1 p-md-0">
            <div class="image-wrapper border-bottom position-relative p-1 p-md-0">
                <img [src]="product.mainImage" alt="shoe"/>
                <div class="brand-logo-wrapper">
                    <img [src]="urlToHttps(product.brandImage)" alt="" class=""/>
                </div>
            </div>
            <div class="content-wrapper d-flex flex-column p-1 p-md-3">
                <h6 class="subtitle">{{ product.releaseName }}</h6>
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                    <span [ngClass]="product.status" class="status py-1">
                        {{ getStatus(product.status)}}
                    </span>
                    <span class="price py-1">{{ product.price | currency : product.currency}}</span>
                </div>
                <div class="store py-1 d-inline-block d-md-none">Europe</div>
                <button class="mt-2 align-self-start d-inline-block d-md-none">
                    Get it
                </button>
            </div>

            <div *ngIf="showDate" class="release-date-wrapper d-flex flex-column">
                <span class="month">{{ product.productDate | date : 'MMM' }}</span>
                <span class="day">{{ product.productDate | date : 'dd' }}</span>
            </div>
        </div>
    </a>
</div>
