<div class="img-wrapper">
  <div *ngIf="product.new" class="ribbon"><span>new</span></div>
  <div class="front">
    <a
      [routerLink]="[
        '/shop/product/left/sidebar/',
        product.title.replace(' ', '-')
      ]">
      <img
        [defaultImage]="'assets/images/product/placeholder.jpg'"
        [lazyLoad]="product.images[0].src"
        alt="{{ product.images[0].alt }}"
        class="img-fluid" />
    </a>
  </div>
  <div class="cart-info cart-wrap">
    <a
      (click)="addToWishlist(product)"
      href="javascript:void(0)"
      title="Add to Wishlist">
      <i aria-hidden="true" class="fa fa-heart"></i>
    </a>
    <button
      (click)="CartModal.openModal(product)"
      *ngIf="cartModal"
      title="Add to cart">
      <i class="ti-shopping-cart"></i> Add to cart
    </button>
    <button (click)="addToCart(product)" *ngIf="!cartModal" title="Add to cart">
      <i class="ti-shopping-cart"></i> Add to cart
    </button>
    <a
      (click)="addToCompare(product)"
      href="javascript:void(0)"
      title="Compare">
      <i aria-hidden="true" class="fa fa-refresh"></i>
    </a>
    <a
      (click)="QuickView.openModal()"
      class="mobile-quick-view"
      href="javascript:void(0)"
      title="Quick View">
      <i aria-hidden="true" class="ti-search"></i>
    </a>
  </div>
  <div class="quick-view-part">
    <a
      (click)="QuickView.openModal()"
      href="javascript:void(0)"
      title="Quick View">
      <i aria-hidden="true" class="ti-search"></i>
    </a>
  </div>
</div>
<div class="product-info">
  <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
  <a
    [routerLink]="[
      '/shop/product/left/sidebar/',
      product?.title.replace(' ', '-')
    ]">
    <h6>{{ product?.title | titlecase }}</h6>
  </a>
  <h4>
    {{
      product?.price * currency?.price
        | discount : product
        | currency : currency?.currency : 'symbol'
    }}
  </h4>
</div>

<app-quick-view
  #quickView
  [currency]="currency"
  [product]="product"></app-quick-view>
<app-cart-modal
  #cartModal
  *ngIf="cartModal"
  [currency]="currency"
  [product]="product"></app-cart-modal>
