<div class="content m-3">
    <div class="img-wrapper">
        <ngx-skeleton-loader
                [theme]="{
        'background-color': '#e8e8e8',
        'border-radius': '8px 8px 0px 0px',
        height: '200px'
      }"></ngx-skeleton-loader>
    </div>
    <div class="product-detail container" style="height: 90px">
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '200px',
          'border-radius': '15px',
          height: '15px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
        <h5>
            <div class="d-flex justify-content-between">
                <ngx-skeleton-loader
                        [theme]="{
            'background-color': '#e8e8e8',
            width: '80px',
            'border-radius': '15px',
            height: '12px'
          }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader
                        [theme]="{
            'background-color': '#e8e8e8',
            width: '70px',
            'border-radius': '15px',
            height: '14px'
          }">
                </ngx-skeleton-loader>
            </div>
        </h5>
    </div>
</div>
