<div class="d-flex w-100 align-items-center justify-content-center flex-wrap">
  <div [class.selected]="selected === 'A'" class="letter-btn m-2">A</div>
  <div [class.selected]="selected === 'B'" class="letter-btn m-2">B</div>
  <div [class.selected]="selected === 'C'" class="letter-btn m-2">C</div>
  <div [class.selected]="selected === 'D'" class="letter-btn m-2">D</div>
  <div [class.selected]="selected === 'E'" class="letter-btn m-2">E</div>
  <div [class.selected]="selected === 'F'" class="letter-btn m-2">F</div>
  <div [class.selected]="selected === 'G'" class="letter-btn m-2">G</div>
  <div [class.selected]="selected === 'H'" class="letter-btn m-2">H</div>
  <div [class.selected]="selected === 'I'" class="letter-btn m-2">I</div>
  <div [class.selected]="selected === 'J'" class="letter-btn m-2">J</div>
  <div [class.selected]="selected === 'K'" class="letter-btn m-2">K</div>
  <div [class.selected]="selected === 'L'" class="letter-btn m-2">L</div>
  <div [class.selected]="selected === 'M'" class="letter-btn m-2">M</div>
  <div [class.selected]="selected === 'N'" class="letter-btn m-2">N</div>
  <div [class.selected]="selected === 'O'" class="letter-btn m-2">O</div>
  <div [class.selected]="selected === 'P'" class="letter-btn m-2">P</div>
  <div [class.selected]="selected === 'Q'" class="letter-btn m-2">Q</div>
  <div [class.selected]="selected === 'R'" class="letter-btn m-2">R</div>
  <div [class.selected]="selected === 'S'" class="letter-btn m-2">S</div>
  <div [class.selected]="selected === 'T'" class="letter-btn m-2">T</div>
  <div [class.selected]="selected === 'U'" class="letter-btn m-2">U</div>
  <div [class.selected]="selected === 'V'" class="letter-btn m-2">V</div>
  <div [class.selected]="selected === 'W'" class="letter-btn m-2">W</div>
  <div [class.selected]="selected === 'X'" class="letter-btn m-2">X</div>
  <div [class.selected]="selected === 'Y'" class="letter-btn m-2">Y</div>
  <div [class.selected]="selected === 'Z'" class="letter-btn m-2">Z</div>
  <div class="letter-btn m-2" style="width: 40px">❌</div>
</div>
