<div [@listAnim]="brands.length" class="d-flex justify-content-start flex-wrap brands-container mt-4">
    <app-ms-shop-card
            *ngFor="let brand of brands"
            @cardAnim
            [item]="brand"
            class="m-3"></app-ms-shop-card>
    <ng-container *ngIf="loading$ | async">
        <app-skeleton-card *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-skeleton-card>
    </ng-container>
</div>
<app-pagination
        [current]="currentPage"
        [totalPages]="totalPages">
</app-pagination>
