<app-breadcrumb [breadcrumb]="'Profile'" [title]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<section class="contact-page register-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>PERSONAL DETAIL</h3>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <label for="name">First Name</label>
              <input
                class="form-control"
                id="name"
                placeholder="Enter Your name"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="email">Last Name</label>
              <input
                class="form-control"
                id="last-name"
                placeholder="Email"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="review">Phone number</label>
              <input
                class="form-control"
                id="review"
                placeholder="Enter your number"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                class="form-control"
                id="email"
                placeholder="Email"
                required=""
                type="text" />
            </div>
            <div class="col-md-12">
              <label for="review">Write Your Message</label>
              <textarea
                class="form-control mb-0"
                id="exampleFormControlTextarea1"
                placeholder="Write Your Message"
                rows="6"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- address section start -->
<section class="contact-page register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>SHIPPING ADDRESS</h3>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <label for="name">flat / plot</label>
              <input
                class="form-control"
                id="home-ploat"
                placeholder="company name"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="name">Address *</label>
              <input
                class="form-control"
                id="address-two"
                placeholder="Address"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="email">Zip Code *</label>
              <input
                class="form-control"
                id="zip-code"
                placeholder="zip-code"
                required=""
                type="text" />
            </div>
            <div class="col-md-6 select_input">
              <label for="review">Country *</label>
              <select class="form-control" size="1">
                <option value="India">India</option>
                <option value="UAE">UAE</option>
                <option value="U.K">U.K</option>
                <option value="US">US</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="review">City *</label>
              <input
                class="form-control"
                id="city"
                placeholder="City"
                required=""
                type="text" />
            </div>
            <div class="col-md-6">
              <label for="review">Region/State *</label>
              <input
                class="form-control"
                id="region-state"
                placeholder="Region/state"
                required=""
                type="text" />
            </div>
            <div class="col-md-12">
              <button class="btn btn-sm btn-solid" type="submit">
                Save setting
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
