<div class="offer-item-container my-3 w-100">
    <div class="m-1">
        <div class="img-wrapper">
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          'border-radius': '8px 8px 8px 8px',
          height: '45px',
          'margin-top': '15px'
        }"></ngx-skeleton-loader>
        </div>
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '80px',
          'border-radius': '15px',
          height: '12px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
    </div>

    <div class="m-1">
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '80px',
          'border-radius': '15px',
          height: '12px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '85px',
          'border-radius': '15px',
          height: '12px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '95px',
          'border-radius': '15px',
          height: '12px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
    </div>

    <div class="m-1 no-display-in-small">
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '120px',
          'border-radius': '15px',
          height: '12px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '85px',
          'border-radius': '15px',
          height: '12px'
        }">
            </ngx-skeleton-loader>
        </h4>
    </div>

    <div class="m-1">
        <h4>
            <ngx-skeleton-loader
                    [theme]="{
          'background-color': '#e8e8e8',
          width: '100px',
          'border-radius': '4px',
          height: '35px',
          'margin-bottom': '6px'
        }">
            </ngx-skeleton-loader>
        </h4>
    </div>
</div>
