<!--footer section -->
<footer [class]="class">
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f mx-0">
        <div class="col-6 col-sm-3 col-lg-3 my-2">
          <div class="sub-title">
            <div class="footer-title border-bottom-0">
              <h4>Brands</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li *ngFor="let brand of brands">
                  <a [routerLink]="navigateToBrand(brand)">
                    {{ brand.object.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-3 my-2">
          <div class="sub-title">
            <div class="footer-title border-bottom-0">
              <h4>Collections</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li *ngFor="let collection of collections">
                  <a [routerLink]="navigateToCollection(collection)">{{
                    collection.object.name
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-3 my-2">
          <div class="sub-title">
            <div class="footer-title border-bottom-0">
              <h4>Styles</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li *ngFor="let style of styles">
                  <a [routerLink]="navigateToStyle(style)">{{
                    style.object.name
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-lg-3 my-2 about-column">
          <div class="sub-title">
            <div class="footer-title border-bottom-0">
              <h4>About Us</h4>
            </div>
            <div class="footer-contant">
              <ul>
                <li><a href="/sitemap.xml" target="_blank">Sitemap</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
                <li>
                  <a [routerLink]="['/who-are-we']">{{ whoAreWe }}</a>
                </li>
                <li>
                  <a [routerLink]="['/privacy-policy']">{{
                    privacityPolice
                  }}</a>
                </li>
                <li>
                  <a [routerLink]="['/become-a-partner']">{{
                    becomePartner
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer py-3">
    <div class="container">
      <div
        class="d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="footer-end">
          <p>
            <i aria-hidden="true" class="fa fa-copyright"></i>All Right
            Reserved, Moresneakers. {{ today | date : 'y' }}
          </p>
        </div>
        <div class="footer-social">
          <ul>
            <li class="cursor-pointer">
              <a
                (click)="
                  loadSocialNetwork(
                    'https://www.instagram.com/moresneakersofficial/'
                  )
                ">
                <i aria-hidden="true" class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="cursor-pointer">
              <a
                (click)="
                  loadSocialNetwork('https://www.facebook.com/moresneakers')
                ">
                <i aria-hidden="true" class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="cursor-pointer">
              <a
                (click)="
                  loadSocialNetwork('https://twitter.com/more_sneakers')
                ">
                <i aria-hidden="true" class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer section end -->
