.about-column {
  border-left: 2px solid #daab28;
  border-top: none;
}

.cursor-pointer {
  cursor: pointer;
}

// @media(max-width: 767px) {
//   .about-column{
//     border-top: 2px solid #DAAB28 ;
//     border-left: none;

//   }
// }
